

<div id="overlay" style="" class="overlay" ng-show="vm.selectedEvent!=null" ></div>

<div ng-show="vm.selectedEvent!=null" id="info" style="position:absolute;padding:10px;left:25%;right:25%;top:20%;background-color:white;height:400px;border-radius:5px;z-index:100;">

    <span id="closeInfo" style="float:right;" class="glyphicon glyphicon-remove glyphicon-button"></span>
    
    <br/>
    
    <!-- css clear none.... -->
    <div class="inputLabel">Title:</div>
    <div class="textInput"><input type="text"/></div>
    
    <div class="inputLabel">Location:</div>
    <div class="textInput"><input type="text"/></div>
    
    <div class="inputLabel">Start Time:</div>
    <div class="textInput"><input type="text"/></div>
    
    <div class="inputLabel">End Time:</div>
    <div class="textInput"><input type="text"/></div>
    
    <div class="inputLabel">Description:</div>
    <div class="textInput"><input type="text"/></div>
    
    <div class="inputLabel">Start Time:</div>
    <div class="textInput"><input type="text"/></div>
    
    <div class="inputLabel">End Time:</div>
    <div class="textInput"><input type="text"/></div>
    
    <div class="inputLabel">Category:</div>
    <div class="textInput"><input type="text"/></div>
    
    <div class="inputLabel">All Day:</div>
    <div class="textInput"><input type="checkbox"/></div>
    
    <div class="inputLabel">Recur:</div>
    <div class="textInput"><input type="checkbox"/></div>
    
    <div style="float:left; text-align:center;width:50%;"><input type="button" value="OK"/></div>
    <div style="float:left; text-align:center;width:50%;"><input type="button" value="Cancel"/></div>
    
    
</div>